<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homework generator</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h3>Adauga datele tale in formularul de mai jos:</h3>
        <form id="choice" name='form' method="POST" action="/">
          <input id='nume' type='text' name='nume' placeholder='Numele'>
          <input id='grupa' type='text' name='grupa' placeholder='Grupa'>
          <button id="a" type="submit" name="send" class="a" value="a">Trimite</button>
        </form>
        <div id="tip">
          (You can only enter once)
        </div>
        <div id="hostname">
          Processed by container ID {{hostname}}
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    {% if nume %}
    <script>
      var nume = "{{nume}}";

      if(nume != ""){
        $(".a").prop('disabled', true);
        $("#tip").html('Tema ta a fost generata, {{nume}} <i class="fa fa-check-circle"></i>');
      }
    </script>
    {% endif %}
  </body>
</html>
